#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <23 24>;
            timeout-ms = <30>;
            layers = <0 1>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <37 38>;
            timeout-ms = <30>;
            layers = <0 1>;
        };

        toggle_colemak {
            bindings = <&tog 1>;
            key-positions = <31 32>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp TAB                  &kp Q  &kp W  &kp E      &kp R         &kp T                                                                       &mmv MOVE_UP                     &kp Y      &kp U  &kp I      &kp O    &kp P     &kp BSPC
&mt LEFT_CONTROL ESCAPE  &kp A  &kp S  &kp D      &kp F         &kp G                                                       &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp H      &kp J  &kp K      &kp L    &kp SEMI  &kp SINGLE_QUOTE
&kp LEFT_SHIFT           &kp Z  &kp X  &kp C      &kp V         &kp B         &kp LC(C_AC_DESKTOP_SHOW_ALL_APPLICATIONS)                    &mmv MOVE_DOWN                   &kp N      &kp M  &kp COMMA  &kp DOT  &kp FSLH  &mt RIGHT_SHIFT ENTER
                                       &kp LCTRL  &kp LEFT_GUI  &kp LEFT_ALT                                                                                                 &kp SPACE  &mo 2  &mo 3
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        colemak {
            bindings = <
&trans  &kp Q  &kp W  &kp F   &kp P   &kp G                     &trans          &kp J   &kp L   &kp U      &kp Y       &kp SEMICOLON  &trans
&trans  &kp A  &kp R  &kp S   &kp T   &kp D             &trans  &trans  &trans  &kp H   &kp N   &kp E      &kp I       &kp O          &trans
&trans  &kp Z  &kp X  &kp C   &kp V   &kp B   &trans            &trans          &kp K   &kp M   &kp COMMA  &kp PERIOD  &kp SLASH      &trans
                      &trans  &trans  &trans                                    &trans  &trans  &trans
            >;

            sensor-bindings = <&scroll_encoder>;
            label = "COLEMAK";
        };

        lower_layer {
            display-name = "NUMBER_SYMBOL";
            bindings = <
&kp GRAVE  &kp EXCL      &kp AT        &kp HASH      &kp DLLR      &kp PRCNT                               &mmv MOVE_UP                     &kp CARET         &kp AMPS           &kp ASTRK     &kp LPAR      &kp RPAR      &kp BACKSLASH
&trans     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5            &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp NUMBER_6      &kp NUMBER_7       &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &trans
&trans     &none         &none         &kp MINUS     &kp EQUAL     &none         &trans                    &mmv MOVE_DOWN                   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans        &trans        &trans        &trans
                                       &trans        &trans        &trans                                                                   &trans            &trans             &trans
            >;

            sensor-bindings = <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
        };

        raise_layer {
            display-name = "FUNC_NAVI";
            bindings = <
&trans  &kp F1   &kp F2   &kp F3     &kp F4        &kp F5                                               &mmv MOVE_UP                     &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP   &kp END          &kp INSERT      &kp DELETE
&trans  &kp F6   &kp F7   &kp F8     &kp F9        &kp F10                              &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp LEFT        &kp DOWN        &kp UP        &kp RIGHT        &msc SCRL_DOWN  &msc SCRL_UP
&trans  &kp F11  &kp F12  &kp GLOBE  &kp CAPSLOCK  &kp PRINTSCREEN  &kp K_PLAY_PAUSE                    &mmv MOVE_DOWN                   &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &mkp LCLK       &mkp RCLK
                          &trans     &trans        &trans                                                                                &trans          &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        misc {
            display-name = "MISC";
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1          &bt BT_SEL 2       &bt BT_SEL 3  &bt BT_SEL 4                                &mmv MOVE_UP                     &none            &rgb_ug RGB_EFR  &rgb_ug RGB_EFF  &none            &none            &none
&none       &kp C_VOL_UP  &kp C_BRIGHTNESS_INC  &soft_off          &none         &sys_reset                  &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &rgb_ug RGB_SPI  &rgb_ug RGB_SAI  &rgb_ug RGB_HUI  &rgb_ug RGB_BRI  &rgb_ug RGB_ON   &none
&none       &kp C_VOL_DN  &kp C_BRIGHTNESS_DEC  &ext_power EP_TOG  &none         &bootloader   &kp C_MUTE                    &mmv MOVE_DOWN                   &rgb_ug RGB_SPD  &rgb_ug RGB_SAD  &rgb_ug RGB_HUD  &rgb_ug RGB_BRD  &rgb_ug RGB_OFF  &none
                                                &none              &none         &none                                                                        &none            &none            &none
            >;

            sensor-bindings = <&rgb_encoder>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        misc {
            if-layers = <2 3>;
            then-layer = <4>;
        };
    };
};
